---
---

@import "adaptive";
@import "navigation";
@import "syntax-highlight";

$fonts: system-ui, Helvetica, sans-serif;

$font_size: 1rem;
$line_height: 1.5;

$body_background_color: (
	light: #FFF,
	dark: #222,
);
$link_color: (
	light: #3D84FF,
	dark: #44B4FF,
);

*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	font-family: $fonts;
	margin: 0;
	font-size: $font_size;
	line-height: $line_height;
	@include adaptive(background-color, $body_background_color);
}

p {
	font-size: $font-size;
}

a {
	@include adaptive(color, $link_color);
	&:hover {
		text-decoration: underline;
	}
}
