---
---

@import "adaptive";

$article_width: 55rem;
$article_margin: 0rem auto;
$article_padding: 1rem;
$article_color: (
	light: black,
	dark: white,
);

$p_margin_size: 0.25rem 0;

$h_line_height: 1.5;
$h_margin_size: 1rem 0rem 0.25rem 0rem;
$h_font_size: (
	1: 2rem,
	2: 1.5rem,
	3: 1.25rem,
	4: 1rem,
	5: 0.8rem,
	6: 0.75rem,
);
$h_font_weight: (
	1: normal,
	2: normal,
	3: normal,
	4: bold,
	5: bold,
	6: bold,
);
$h_bottom_border: (
	1: 1px solid #EEE,
	2: 1px solid #EEE,
	3: none,
	4: none,
	5: none,
	6: none,
);

$img_border_radius: 0.25rem;

$code_font_family: "SF Mono", Menlo, monospace;
$pre_font: 0.9rem $code_font_family;
$pre_line_height: 1.5;
$pre_tab_size: 4;
$pre_padding: 0.75rem;
$pre_border_radius: $img_border_radius;
$lineno_border_right: 0.1rem solid;
$highlight_border_radius: $pre_border_radius;
$code_padding: 0.25rem;
$samp_font_family: $code_font_family;
$samp_padding: $code_padding;
$samp_border_radius: $highlight_border_radius;
$kbd_font_family: system-ui, "Helvetica Neue", sans-serif;
$kbd_padding: $code_padding;
$kbd_border_radius: $highlight_border_radius;

$blockquote_margin: 1rem 0;
$blockquote_padding: 0.25rem 0.25rem 0.25rem 1.5rem;
$blockquote_color: (
	light: rgba(map-get($article_color, light), 0.5),
	dark: rgba(map-get($article_color, dark), 0.5),
);
$blockquote_left_border: (
	light: 0.25rem solid rgba(map-get($article_color, light), 0.25),
	dark: 0.25rem solid rgba(map-get($article_color, dark), 0.25),
);

$aside_margin: 1rem 0;
$aside_padding: 1rem 1rem 1rem 1.25rem;
$aside_color: $article_color;
$aside_background_color: (
	light: rgba(map-get($article_color, light), 0.03125),
	dark: rgba(map-get($article_color, dark), 0.03125),
);
$aside_left_border: (
	light: 0.25rem solid rgba(map-get($article_color, light), 0.25),
	dark: 0.25rem solid rgba(map-get($article_color, dark), 0.25),
);
$aside_border_radius: $img_border_radius;
$aside_type_font_size: 1.25rem;
$aside_type_margin: 0 0 0.25rem 0;

$figure_margin: 1rem;

$hr_background_color: #EEE;

$table_border: 1px solid #CCC;
$table_cell_padding: 0.375rem;
$table_header_background: (
	light: rgba(map-get($article_color, light), 0.125),
	dark: rgba(map-get($article_color, dark), 0.125),
);
$table_row_background: (
	light: rgba(map-get($article_color, light), 0.0625),
	dark: rgba(map-get($article_color, dark), 0.0625),
);

article {
	max-width: $article_width;
	display: block;
	margin: $article_margin;
	padding-top: $article_padding;
	padding-right: $article_padding;
	padding-bottom: $article_padding;
	padding-left: $article_padding;

	@supports(padding: max(0px)) {
		padding-top: $article_padding;
		padding-right: unquote('max(#{$article_padding}, env(safe-area-inset-right))');
		padding-bottom: unquote('max(#{$article_padding}, env(safe-area-inset-bottom))');
		padding-left: unquote('max(#{$article_padding}, env(safe-area-inset-left))');
	}
	word-wrap: break-word;
	@include adaptive(color, $article_color);
}

article * {
	max-width: 100%;
}

p {
	margin: $p_margin_size;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-size: map-get($h_font_size, $i);
		line-height: $h_line_height;
		font-weight: map-get($h_font_weight, $i);
		border-bottom: map_get($h_bottom_border, $i);
		margin: $h_margin_size;
	}
}

a {
	text-decoration: none;
}

img {
	border-radius: $img_border_radius;
}

pre {
	font: $pre_font;
	tab-size: $pre_tab_size;
	padding: $pre_padding;
	line-height: $pre_line_height;
	border-radius: $pre_border_radius;

	code {
		font: $pre_font;
		padding: 0;
	}

	.lineno {
		text-align: right;
		border-right: $lineno_border_right;
	}
}

code {
	font-family: $code_font_family;
	padding: $code_padding;	
}

.highlight, .highlighter-rouge {
	border-radius: $highlight_border_radius;
}

samp {
	font-family: $samp_font_family;
	padding: $samp_padding;
	border-radius: $samp_border_radius;
}

kbd {
	font-family: $kbd_font_family;
	padding: $kbd_padding;
	border-radius: $kbd_border_radius;
}

blockquote {
	margin: $blockquote_margin;
	padding: $blockquote_padding;
	@include adaptive(color, $blockquote_color);
	@include adaptive(border-left, $blockquote_left_border);
}

aside {
	margin: $aside_margin;
	padding: $aside_padding;
	@include adaptive(color, $aside_color);
	@include adaptive(background-color, $aside_background_color);
	@include adaptive(border-left, $aside_left_border);
	border-radius: $aside_border_radius;

	.aside-content {
		margin: 0;
	}

	.aside-type {
		font-weight: bold;
		font-size: $aside_type_font_size;
		margin: $aside_type_margin;	
	}
}

figure {
	margin: $figure_margin;
}

figcaption {
	text-align: center;
}

hr {
	border: 0;
	background-color: $hr_background_color;
	height: 1px;
}

th, td {
	padding: $table_cell_padding;
}

table {
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
}

th, td {
	border: $table_border;
	border-collapse: collapse;
}

thead {
	tr {
		@include adaptive(background-color, $table_header_background);
	}
}

tbody {
	tr:nth-child(even) {
		@include adaptive(background-color, $table_row_background);
	}
}

.table-wrapper {
	overflow-x: auto;
}
