---
---

$article_width: 55rem;
$article_margin: 1.5rem auto;

$p_margin_size: 0.25rem;

$h_line_height: 1.5;
$h_margin_size: 0.25rem;

$h1_font_size: 2rem;
$h2_font_size: 1.5rem;
$h3_font_size: 1.25rem;
$h4_font_size: 1rem;
$h5_font_size: 0.8rem;
$h6_font_size: 0.75rem;

$h1_bottom_border: 1px solid #EEE;
$h2_bottom_border: 1px solid #EEE;
$h3_bottom_border: none;
$h4_bottom_border: none;
$h5_bottom_border: none;
$h6_bottom_border: none;

$pre_background_color: #F7F7F7;
$pre_padding: 0.75rem;
$pre_border_radius: 0.25rem;

$pre_font: 0.8rem Menlo, monospace;

$blockquote_padding: 0 1rem;
$blockquote_color: rgba(#000, .5);
$blockquote_left_border: 0.25rem solid rgba(#000, 0.2);

article {
	max-width: $article_width;
	display: block;
	margin: $article_margin;
}

article * {
	max-width: 100%;
}
article pre {
	overflow: auto;
}

p {
	margin: $p_margin_size;
}

{% for i in (1..6) %}
h{{ i }} {
	font-size: $h{{ i }}_font_size;
	line-height: $h_line_height;
	font-weight: normal;
	border-bottom: $h{{ i }}_bottom_border;
	margin: $h_margin_size;
}
{% endfor %}

a {
	text-decoration: none;
}

pre {
	font: $pre_font;
	background-color: $pre_background_color;
	padding: $pre_padding;
	border-radius: $pre_border_radius;
	code {
		font: $pre_font;
	}
}

blockquote {
	padding: $blockquote_padding;
	color: $blockquote_color;
	border-left: $blockquote_left_border;
}
