---
---

$projects_margin_left: 0.5rem;

$link_font_size: 1rem;
$link_margin: 0 0.25rem;

.subtitle {
	font-size: smaller;
}

.project {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	a {
		font-size: $link_font_size;
		margin: $link_margin;
	}
}
