---
---

$header_margin: 0 0 1rem 0;

$time_color: #AAA;
$time_margin: 0.25rem 0rem;

$section_margin: 0rem;

$p_margin: 0 0 1rem 0;

$img_max_height: 50rem;

$table_margin: 0 auto 1rem auto;

header {
	margin: $header_margin;

	p {
		color: $time_color;
		font-size: smaller;
		font-weight: normal;
		border-bottom: none;
		margin: $time_margin;
	}
}

section {
	margin: $section_margin;

	& > p {
		margin: $p_margin;
	}
}

.feedback {
	font-size: smaller;
}

.attribution {
	font-style: italic;
}

footer {
	@media print {
		display: none;
	}
}

img {
	display: block;
	margin: 0 auto;
	max-height: $img_max_height;
}

table {
	margin: $table_margin;
}
