---
---

$time_color: #AAA;
$time_margin: 0rem 0rem;

$section_margin: 1rem;

header {
	time {
		color: $time_color;
		font-size: smaller;
		font-weight: normal;
		border-bottom: none;
		margin: $time_margin;
	}
}

section {
	margin: $section_margin;
}

.feedback {
	font-style: italic;
}
