---
---

@import "showcase";

{%assign items = site.showcase | size %}

$showcase_item_time: 10s;
$showcase_item_animation_time: 10% / {{ items }};

@for $i from 1 through {{items}} {
	figure:nth-child(#{$i}) {
		animation-name: fade;
		animation-duration: {{ items }} * $showcase_item_time;
		animation-delay: {{ items }} * -$showcase_item_time + ($i - 1) * $showcase_item_time;
		animation-iteration-count: infinite;
		background-color: rgb(random(256) - 1, random(256) - 1, random(256) - 1);
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	#{1 / {{ items }} * 100% - $showcase_item_animation_time} {
		opacity: 1;
	}
	#{1 / {{ items }} * 100%} {
		opacity: 0;
	}
	#{100 - $showcase_item_animation_time} {
		opacity: 0;
	}
}