@import "adaptive";

$nav_items: 5;
$nav_background_color: (
	light: #EEE,
	dark: #111,
);
$nav_item_min_width: 10rem;
$nav_item_y_padding: 0.75rem;
$nav_item_x_padding: 2rem;
$nav_item_collapsed_x_padding: 0.5rem;
$nav_item_font_size: 1.125rem;
$nav_item_color_transition: 0.2s;
$nav_item_default_color: (
	light: black,
	dark: #999,
);
$nav_item_selected_color: (
	light: #777,
	dark: white,
);
$main_nav_item_font_size: 1.25rem;
$main_nav_item_font_weight: 500;
$nav_collapse_width: $nav_item_min_width * $nav_items;

header {
	nav {
		@include adaptive(background-color, $nav_background_color);
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;

			li {
				display: inline-block;
				padding: $nav_item_y_padding 0;
				font-size: $nav_item_font_size;
				text-align: center;
				font-weight: normal;
				@media all and (max-width: $nav_collapse_width) {
					padding: $nav_item_y_padding $nav_item_collapsed_x_padding;
					min-width: 0;
				}
				@media not all and (max-width: $nav_collapse_width) {
					min-width: $nav_item_min_width;
				}

				a {
					text-decoration: none;
					@include adaptive(color, $nav_item_default_color);
					transition: color $nav_item_color_transition;

					&#main-nav-item {
						font-size: $main_nav_item_font_size;
						font-weight: $main_nav_item_font_weight;
					}

					&.current-nav-item, &:hover, &:focus {
						@include adaptive(color, $nav_item_selected_color);
						text-decoration: none;
					}
				}
			}
		}
	}
}
