$nav_background_color: #EEE;
$nav_item_y_padding: 0.75rem;
$nav_item_x_padding: 2rem;
$nav_item_font_size: 1.125rem;
$nav_item_color_transition: 0.2s;
$nav_item_default_color: black;
$nav_item_selected_color: #777;
$home_nav_item_font_size: 1.25rem;
$home_nav_item_font_weight: 600;

header {
	nav {
		background-color: $nav_background_color;
		ul {
			list-style-type: none;
			width: 100%;
			padding: 0;
			margin: 0;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;

			li {
				display: inline-block;
				padding: $nav_item_y_padding $nav_item_x_padding;
				font-size: $nav_item_font_size;
				text-align: center;
				font-weight: normal;

				a {
					text-decoration: none;
					color: $nav_item_default_color;
					transition: color $nav_item_color_transition;

					&#home-nav-item {
						font-size: $home_nav_item_font_size;
						font-weight: $home_nav_item_font_weight;
					}

					&.current-nav-item, &:hover, &:focus {
						color: $nav_item_selected_color;
						text-decoration: none;
					}
				}
			}
		}
	}
}
