---
---

$title_feed_font_size: 1rem;

$post_margin: 0;
$time_margin: 0rem 1rem 0rem 1.5rem;
$time_width: 2rem;

.title {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	a {
		font-size: $title_feed_font_size;
	}
}

.subtitle {
	font-size: smaller;
}

.post {
	display: flex;
	margin: $post_margin;

	time {
		display: inline-block;
		flex: 0 0 $time_width;
		margin: $time_margin;
		text-align: right;
	}

	a {
		min-width: 0;
	}
}
