</!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="/css/default.css">

		{% for rss in layout.relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in layout.stylesheets %}
		<link rel="stylesheet" href="/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in post.relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in post.stylesheets %}
		<link rel="stylesheet" href="/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in layout.post_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in layout.post_stylesheets %}
		<link rel="stylesheet" href="/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in post.post_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in post.post_stylesheets %}
		<link rel="stylesheet" href="/css/{{ ss }}.css">
		{% endfor %}

	</head>
	<body>
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>