---
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include head.html %}
		
		<link rel="stylesheet" href="{{ site.baseurl }}/css/default.css">

		{% for rss in page.relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in page.stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in layout.relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in layout.stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in page.post_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in page.post_stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in layout.post_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in layout.post_stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in page.portfolio_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in page.portfolio_stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}

		{% for rss in layout.portfolio_relative_stylesheets %}
		<link rel="stylesheet" href="{{ rss }}.css">
		{% endfor %}

		{% for ss in layout.portfolio_stylesheets %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ ss }}.css">
		{% endfor %}
	</head>
	<body>
		{% include navigation.html %}
		<main>{{ content }}</main>
		{% include footer.html %}
	</body>
</html>
